@page "/"
@using PirarteTreassure.Classes;
@using PirarteTreassure.Interfaces;
@inject GameEngine ge

<h1>Game</h1>
<button class="btn btn-primary" @onclick="() => IsFightOn = ge.Challenge()">Challenge</button>
<button class="btn btn-primary" @onclick="() => AttackValues = ge.Attack()">Hero Attack</button>
<button class="btn btn-primary" @onclick="async () => LootedItems = await ge.Hero.Loot(ge.Adversaries[1])">
    Loot Monster
</button>


<div>
    @(IsFightOn ? "Fight" : "Flee")
</div>

<div>
    @if (AttackValues.Dead)
    {
        <h3>Moster killed</h3>

    }
    else if (AttackValues.Hit)
    {
        <h3>You did @AttackValues.Damage to the moster</h3>
    }
    else
    {
        <h3>You swing and miss</h3>
    }
</div>

<button @onclick="() => showInverntory = !showInverntory" type="button" class="btn mt-3" data-bs-toggle="button">Toggle button</button>
@if (showInverntory && ge.Hero.Backpack is not null)
{
    <h3>Hero's backpack</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ge.Hero.Backpack.GetItems())
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Size</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}

<h3 class="mt-3">Looted Items</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in LootedItems)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Size</td>
                <td>
                    <button class="btn btn-primary" @onclick="() => ge.Hero.AddToBackpack(item)">Click me</button>
                </td>
            </tr>
        }
    </tbody>
</table>


@code{
    Backpack<IItem> LootedItems { get; set; } = new();
    bool IsFightOn = false, showInverntory = false;
    (bool Hit, double Damage, bool Dead) AttackValues;
}
